<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean id ="alien1" class ="com.barbighaiya.Spring_First_Project.Alien"> </bean>
	<!--<bean id ="alien2" class ="com.barbighaiya.Spring_First_Project.Alien"> </bean>-->
	<!-- By defining multiple beans in the XML file, we can create and manage
	`	multiple objects of the same class with different IDs.-->
	<bean id ="lap" class ="com.barbighaiya.Spring_First_Project.Laptop"> </bean>
</beans>
